/* Centrado del contenedor excepto los títulos */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.titulo {
    text-align: center;
}

h4 {
    text-align: center;
}

.selec, .cantidad, .boton {
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.selec:hover, .cantidad:hover, .boton:hover {
    background-color: #a396b8;
}

input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}
